@use '@/assets/variables' as v

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand:wght@400;700&display=swap')

* 
  box-sizing: border-box

body
  font-family: 'Poppins', sans-serif
  background-color: v.$background
  color: v.$wine

h1, h2, h3, h4, h5, h6
  margin: 0

button, input, select, textarea
  font-family: 'Poppins', sans-serif

input, select, textarea
  border-radius: 4px

input
  padding: 4px 8px

textarea
  padding: 8px 12px