@use '@/assets/variables' as v

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand:wght@400;700&display=swap')

* 
  box-sizing: border-box

body
  font-family: 'Poppins', sans-serif
  background-color: v.$background
  color: v.$wine

*:focus-visible
  outline: 1px solid v.$accent

h1, h2, h3, h4, h5, h6
  margin: 0
  font-weight: 600

button, input, select, textarea
  font-family: 'Poppins', sans-serif
  border-radius: 4px
  color: v.$wine

input, select
  height: 32px
  background: white
  border: 1px solid v.$cream
  padding: 0 12px
  font-size: 16px
  &:hover, &:focus, &:focus-visible
    border: 1px solid v.$accent

button
  cursor: pointer
  border: 1px solid v.$accent
  background: v.$cream
  color: v.$accent
  height: 32px
  font-size: 16px

input
  padding: 4px 8px

textarea
  padding: 8px 12px

ul
  margin: 0